/*********************************************/
/*COLORS*/
/*********************************************/

$color_link: #000;

$color_selection: #00e676;



/*********************************************/
/*FONTS*/
/*********************************************/

$Tahoma: "Tahoma", sans-serif;
$FontAwesom: "FontAwesome";

/*********************************************/
  /*SIZES*/
/*********************************************/
