/*********************************************/
/*@IMPORTS*/
/*********************************************/
//@import "vendors/global";
@import "helpers/global";
@import "components/global";
@import "helpers/mixins";
@import "components/sprite";

/*********************************************/
/*FONTS*/
/*********************************************/

@include font-face("Tahoma", "../fonts/Tahoma/Tahoma", 400, normal, woff2 woff ttf );
@include font-face("FontAwesome", "../fonts/FontAwesome/FontAwesome", 400, normal, woff2 woff ttf);

/*********************************************/
/*MAIN STYLES*/
/*********************************************/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 400;
  min-width: 320px;


  display: -webkit-box;
  display: flex;

  -webkit-box-orient: vertical;
  flex-direction: column;

  min-height: 100vh;

}

.wrapperBlock {
  display: -webkit-box;
  display: flex;

  -webkit-box-orient: vertical;
  flex-direction: column;

  justify-content: space-between;

  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}


.main {
  width: 100%;
}



img {
  max-width: 100%;
  height: auto;
}

/// Clear CEO

//img:not([alt]) {
//  border: 8px dashed #7fff00 !important
//}
//
//img[alt=""] {
//  border: 8px dashed #7fff00 !important
//}


a {
  text-decoration: none;
  color: #000;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: #000;
  }
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

input,
textarea {

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }

  &::placeholder {
    opacity: 1;
    transition: opacity .3s;
  }

  &::-moz-focus-outer,
  &::-moz-focus-inner {
    border: 0;
    outline: none;
  }

}


// SLICK Helper

//
//.bl_partners__item:not(:nth-child(-n+5)) {
//  display: none;
//}
//
//.slick-slide.bl_partners__item:not(:nth-child(-n+5)) {
//  display: block;
//}





/*********************************************/
/*HEADER*/
/*********************************************/

@import "sections/header";

/*********************************************/
/*SECTIONS*/
/*********************************************/









//////////////////////////

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
  border-color: #777;
  background: linear-gradient(0deg, #17BDFE 0.23%, #DDFF0B 42.56%, #FE8E04 64.53%, #E01D00 90.76%);;
}

//::-webkit-scrollbar-thumb:hover {
//  background-color: #6B0098;
//}

::-webkit-scrollbar-track-piece {
  background-color: #181A25;
}

/////
::selection {
  background: $color_selection;
}

::-moz-selection {
  background: $color_selection;
}



/*********************************************/
/*FOOTER*/
/*********************************************/

@import "sections/footer";

/*********************************************/
/*@IMPORT MEDIA*/
/*********************************************/

@import "helpers/media";
